
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-uniquifier {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* universal style */
  *{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

/* navigation section style */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 166px 35px 150px;
}
.navigation h1{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
.navigation button{
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}
/* banner section start */
.banner-container{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 652px;
    padding-top: 26px;
}
.banner-content{
    width: 998px;
    height: 582px;
    text-align: center;
    margin: 0 auto;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 32px;
    margin-bottom: 24px;
    
}
.banner-content p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 32px;
}
.banner-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    width: 208px;
    height: 66px;
    text-decoration: none;
}

/* web-development-section start */

.web-development-section{
    width: 946px;
    height: 1235px;
    padding: 80px 97px;
    text-align: center;
    margin: 0 auto;
    margin-top: 74px;
}
.web-development-box{
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 96px;
}

.web-development-content{
    width: 477px;
    height: 220px;
    text-align: left;
    margin-bottom: 35px;
}
.web-development-content h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.web-development-content p{
    margin-bottom: 32px;
}
.web-development-box button{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-size: 20px;
font-weight: 600;
line-height: 23px;
padding: 12px 20px 12px 20px;
}

/* my inspiration section style start */
.my-inspiration-section{
    width: 1140px;
    height: 777px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 168px auto 150px auto;
    
}
.my-inspiration-content-box{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

/* target section */

.target-section{
    width: 1140px;
    height: 463px;
    margin: 0 auto 41px auto;
}
.target-descreption{
    width: 852px;
    height: 115px;
    text-align: center;
    margin-bottom: 48px;
    margin: 0 auto;
}
.target-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.target{
    width: 284px;
    height: 220px;
    padding: 40px;
    
}

.target-box .one {
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);

}
.target-box .two{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.target-box .three{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.target h3{
    margin-bottom: 8px;
}
.target p{
    margin-bottom: 24px;
}
.target img{
    margin-bottom:24px ;
}
.target-box a {
    color: black;
    font-size: 16px;
}